*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    
    color: #00ccf5;
}

.main-container {
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 15vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafc;
    opacity: 0.6;
    color: #000;
    box-shadow: 5px 8px 15px #eee;
}

.logo {
    font-size: 40px;
    margin-bottom: 15vh;
    color: #00ccf5;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    font-size: 0.8rem;
    width: 80%;
}

.toggles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 1rem 0;
    transition: .5s;
}
.toggles:hover {
    text-decoration: none;
    transition: 1.5s;
    cursor: pointer;
}
.toggles:active {
    transform: translate(20px, 20px);
}
.border {
    display: inline-block;
}

/* #add {
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation: click 4s linear;
}
@keyframes click {
    50% { 
        transform: translate(3px, 3px);
    }
} */

.small-container {
    display: flex;
    width: 85vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.label {
    width: 90%;
    font-size: 2rem;
    color: #00ccf5;
    margin: 1rem;
}
.database {
    height: 60%;
    width: 90%;
    background-color: #fefefe;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 1rem;
}
::-webkit-scrollbar { 
    display: none;
}
.first-row {
    display: flex;
    width: 80vw;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.data-col {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 12vw;
}
.table-headers {
    width: 90%;
    padding: 5px 0;
    color: #98a1ae;
    text-transform: uppercase;
}


hr {
    padding: 0;
    margin: 0;
    border: 1px solid white;
    display: block;
}

form {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 1vh;
    left: 8%;
}
.form-control {
    width: 13vw;
    margin: 5px;
    font-size: 0.7rem;
}

.input_fields {
    display: flex;
    flex-flow: row nowrap;
    width: 76vw;
}
.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#newfirst {
    margin: 0 1rem;
    border-radius: 25px;
    background-color: #00ccf5;
    color: #fff;
    transition: 1s;
    border: none;
    padding: 0.5rem 2rem;
}
#newfirst:hover {
    color: navy;
    transition: 1s;
}

.remove-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-left: 1px;
}
.remove-data:hover {
    animation: wobble 1s infinite;
    cursor: pointer;
}

#admin {
    display: none;
}
#icon-col {
    display: flex;
    width: 2vw;
    justify-content: center;
    align-items: center;
}

@keyframes wobble { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.data-change {
    padding: 1rem;
}

.data-change:hover {
    cursor: inherit;
}

#plus-icon {
    margin-right: 1px;
}
#minus-icon {
    margin-right: 1px;
    width: 15px;
}
#delta-icon {
    margin-right: 1px;
}
#settings-icon {
    margin-right: 1px;
}
input {
    border-bottom: 2px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
    color: #98a1ae;
    width: 100%;
}

.hidden {
    display: none;
}
.red {
    color: #00ccf5 !important;
}
#logout {
    color: #00ccf5;
}

.make-flex {
    display: flex;
    flex-direction: column;
}