<% include apphead %>
<body>
    <div class="container">
    <div class="logo">
        Insta.id
    </div>
    <div class="introduction">
        <div class="intro-div">
            WHO WE ARE
        </div>
        <div class="intro-div">
            WHAT WE DO
        </div>
    </div>
    </div>
    <footer>
        <a href="">ALREADY HAVE AN ACCOUNT?</a>
    </footer>
</body>
</html>