<% include head %>
<body>
    <body>
        <div class="container">
          <h1 class="logo">Insta.id</h1>
            <div class="flex">
                <div class="qr">
    
                </div>
    
                <button class="btn">
                    <a href="#">idENTIFY</a>
                </button>
                <p><a href="#">Having trouble?</a></p>
            </div>
    
    
        </div>
    </body>
</body>
</html>