<% include head %>
<body>
  <header>
    <div class="logo">
      Enter Logo Here
    </div>
    <form action="/users/loginProcess" method="post">
      <div class="login">
        <input type="text" name="username" class="form-control" placeholder="User Name">
        <input type="text" name="password" class="form-control" placeholder="Password">
        <input type="submit" class="btn btn-primary mt-4" style="margin-top:0 important!">
      </div>
    </form>
  </header>
  <div class="large_container">
    <div class="introduction">
      Who We Are
    </div>
    <div class="register">
      <h1>Register!</h1>
      <form action="/users/registerProcess" method="post">
        <input type="text" name="username" class="form-control" placeholder="User Name">
        <input type="email" name="email" class="form-control" placeholder="Email">
        <input type="password" name="password" class="form-control" placeholder="Password">
        <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
        <input type="submit" class="btn btn-primary mt-4">
      </form>
    </div>
  </div>
  <footer>

  </footer>
</body>
</html>