<% include head %>
<body class="<%= passwordFail ? 'body-shake' : '' %>">

<div class="nav">
    <ul class="navlinks">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Do</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>


<div class="main-container">
    <div class="welcome">
            <h1>Welcome to <strong>Insta.id</strong></h1>
            <h2>A better way for verifying identification</h2>
            
            <div class="logincontainer">
                <form id="login" action="/users/loginProcess" method="post">
                    <h5>Log into your account</h5>
                    
                    <input type="text" name="email" class="form-control" placeholder="email">
                    
                    <input type="text" name="password" class="form-control" placeholder="password">
                    
                    
                    <div class="log">
                      <input type="submit" class="btn" value="LOGIN">
                      <a href="/retrieve" class="forgot <%= passwordFail ? 'red' : '' %>">FORGOT<br>PASSWORD?</a>
                    </div>
                </form>
            </div>
            <!-- End of logincontainer-->
    </div> <!-- End of welcome div-->
    <div class="sm-spacer"></div>

    <section id='right'>

        <div class="box">
            <h5>GETTING STARTED</h5>
            <h1>Create Account</h1>
        </div>
    
        
        <div id="register" class="registercontainer">
            <form action="/users/registerProcess" method="post" >

              <div class="name-field">
              <input type="text" name="first_name" class="form-control reg" placeholder="First Name">&nbsp;&nbsp;&nbsp;
              <input type="text" name="last_name" class="form-control reg" placeholder="Last Name">
              </div>
              
             
              <input type="email" name="email" class="form-control reg" placeholder="johndoe@example.com">
  
             
              <input type="text" name="company_name" class="form-control reg" placeholder="Company name">
              
              
              <input type="password" name="password" class="form-control reg" placeholder="password">
             
  
              <input type="password" name="password" class="form-control reg" placeholder="re-enter password">
              <input type="submit" class="button" id="signmeup" value="Sign me up">

            </form>

          </div> <!-- end of register container-->
            
           
        </section>

</div>


<footer id= "footer">
        <div class="items">
          &copy; 2019 Insta.id All rights reserved.
        </div>
</footer>
</body>
</html>