<div class="navbar">
    <div class="logo">
        Insta.id
    </div>
    <div class="links">
        <button class="toggles" id="add"><img src="https://img.icons8.com/android/20/000000/plus.png" id="plus-icon"> ADD EMPLOYEE</button>
        <button class="toggles" id="remove"><img src="https://img.icons8.com/android/22/000000/minus.png" id="minus-icon"> REMOVE EMPLOYEE</button>
        <button class="toggles" id="update"><img src="https://img.icons8.com/material-outlined/22/000000/triangle-stroked.png" id="delta-icon"> UPDATE</button>
        <button class="toggles" id="settings"><img src="https://img.icons8.com/ios/25/000000/settings.png" id="settings-icon"> SETTINGS</button>
    </div>
</div>