<div class="navbar">
    <div class="logo">
        Insta.id
    </div>
    <div class="links">
        <div class="toggles" id="add">+ ADD EMPLOYEE</div>
        <div class="toggles" id="remove">- REMOVE EMPLOYEE</div>
        <div class="toggles" id="update">Δ UPDATE</div>
        <a href="/users/logout">&nbsp;&nbsp;&nbsp;LOGOUT</a>
    </div>
</div>