<div class="navbar">
    <div class="logo">
        Insta.id
    </div>
    <div class="links">
        <a href="./">+ ADD EMPLOYEE</a>
        <a href="./">- REMOVE EMPLOYEE</a>
        <a href="./">Δ UPDATE</a>
        <a href="../">&nbsp;&nbsp;&nbsp;LOGOUT</a>
    </div>
</div>