*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main-container {
    width: 100vw;
    height: 100vh;
    color: navy;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar {
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: whitesmoke;
}

.logo {
    font-size: 40px;
    margin-bottom: 15vh;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4vh;
}

.toggles {
    text-decoration: none;
    color: navy;
    padding: 1vh;
    transition: 1s;
}
.toggles:hover {
    text-decoration: none;
    transition: 1.5s;
    cursor: pointer;
}
.toggles:active {
    transform: translate(20px, 20px);
}

/* #add {
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation: click 4s linear;
}
@keyframes click {
    50% { 
        transform: translate(3px, 3px);
    }
} */

.small-container {
    display: flex;
    width: 80vw;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}
.label {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 20vh;
    font-size: 40px;
    text-align: left;
    justify-content: flex-end;
}
.database {
    height: 66vh;
    width: 63vw;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow: scroll;
    border: 1px solid whitesmoke;

}
.first-row {
    display: flex;
    width: 63vw;
    background-color: whitesmoke;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.data-col {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: gray;
    overflow: scroll;
}
.table-headers {
    width: 100%;
    padding: 5px;
    color: navy;
    text-align: center;
}
hr {
    padding: 0;
    margin: 0;
    border: 1px solid navy;
    display: block;
}

form {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 70vw;
    top: 1vh;
    right: 0;
}

.input_fields {
    display: flex;
    flex-flow: row nowrap;
    width: 65vw;
}
#more-control {
    width: 800px;
    margin: 1px;
}
#newfirst {
    margin-left: 10px;
}

.button-div {
    width: 5vw;
}

.remove-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-left: 1px;
}
.remove-data:hover {
    animation: wobble 1s infinite;
    cursor: pointer;
}
#admin {
    display: none;
}
#icon-col {
    display: flex;
    width: 8vw;
    justify-content: center;
    align-items: center;
}

@keyframes wobble { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.logout {
    position: absolute;
    right: 0;
    padding: 1vh;
    margin-top: 0.6vh;
    z-index: 10;
}
.logout:hover {
    transition: 1s;
    cursor: pointer;
    animation: shake 1.3s infinite ease;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.data-change {
    text-align: center;
}
.data-change:hover {
    cursor: inherit;
}

#settings {
    color: black;
}
#plus-icon {
    margin-top: -.5vh;
}
#minus-icon {
    margin-top: -.5vh;
    width: 15px;
}
#delta-icon {
    margin-top: -.5vh;
    margin-left: -1.5vh;
}
#settings-icon {
    margin-left: -1.5vh;
}

input {
    overflow: scroll;
}

.hidden {
    display: none;
}
.red {
    color: red !important;
}