*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: .8rem;
}

/* a {
  color: ;
} */

a:hover {
  text-decoration: none;
}


.main-container {
  width: 100vw;
}

.left {
  padding: 2rem;
  background: url('../img/room-l9QPabiKKhw-unsplash.jpg') center no-repeat;
  background-size: cover; 
  height: 100vh;
}

.center {
  width: 80%;
  margin: auto;
}

.logo {
  text-align: center;
  color: #031F4B;
}


.logo > h1 {
  font-size: 3rem;
}


.forgot {
  color: white;
  font-weight: bolder;
  transition: 1s;
}
.forgot:hover {
  color: red;
  transition: 1s;
}

.button {
  background-color: #031F4B;
  color: #C8D3D5;
  padding: .5rem 1.5rem;
  margin: 5px;
  border: none;
  border-radius: 30px;
  font-weight: bolder;
  transition: 1s;
}

.form-control {
  border-radius: 30px;
}


.button:hover {
  background-color: white;
  color: #031F4B;
  transition: 1s;
}


.button-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.name-field{
  display: flex;
}

.registercontainer {
  width: 90%;
  margin: auto;
}

.right {
  padding: 2rem;
  background-color: #C8D3D5;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.logo-right {
  margin-bottom: 50px;
}



label {
  padding-top: .6rem ;
}


#footer {
  background-color: #031F4B;
  color: #C8D3D5;
  height: 10vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}


.items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items > a {
  padding: 0 2rem;
  color: #C8D3D5;
}

/* .shake {
  animation: blinking 4s ease-in-out;
}

@keyframes blinking {
  0%, 37.5%, 75%  {
      color: white;
  }
  12.5%, 50%, 87.5% {
      color: red;
  }
  25%, 62.5%, 100% {
      color: white;
  }
} */
/* @media screen and (min-width: 768px) {



} */
.body-shake {
  animation: shake 1.3s ease-in-out;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1.5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(3px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}
.red {
  animation-delay: 1s !important;
  animation: blinking 3s ease;
}
@keyframes blinking {
  0%, 37.5%, 75%  {
      color: white;
  }
  12.5%, 50%, 87.5% {
      color: red;
  }
  25%, 62.5%, 100% {
      color: white;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    display: flex;
    height: 100vh;
  }

  .left {
    width: 60vw;
    display: flex;
    justify-content: space-between;
  }

  .right {
      width: 40vw;
  }

  .logo > h1 {
    font-size: 8rem;
}

.registercontainer {
  width: 60%;
  margin: auto;
}


}